a:hover { text-decoration: none; }

.logo img { max-width: 240px; width: 100%; height: auto; display: block; }
@media screen and (min-width: 768px) { .logo img { max-width: 315px; } }

.cu-localist-login #menu { float: right; }
.cu-localist-login #menu .profile_icon img { width: 35px; height: auto; }
.cu-localist-login #menu .nav-button .icon-bar { background-color: #858585; }
.cu-localist-login #menu .action_menu { position: relative; z-index: 5; padding: 0; background: #fff; }

#x-me-menu { display: flex !important; align-items: center; }

/* Search */
.cu-localist-hero { display: flex; flex-direction: row; align-items: center; position: relative; }
.cu-localist-hero > .search_action { flex-grow: 1; }
@media screen and (min-width: 960px) { .homepage .cu-localist-hero { padding: 60px 0; } }

input#top-search { padding: 10px; color: #202020; width: 100%; background: #fff; margin: 0; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
@media screen and (min-width: 768px) { input#top-search { padding: 15px; font-size: 125%; } }
.homepage input#top-search { padding: 20px; font-size: 150%; }

#top-submit { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.main .content-wrapper { margin: 0 -15px; padding-top: 0; }

.cu-below-content { display: none; }

@media screen and (min-width: 1200px) { .main .localist-content-wrapper > .grid_container { margin-left: -15px; margin-right: -15px; } }
.featured-container .featured_item { position: relative; height: 100%; }
.featured-container .featured_item > a.box_left { width: 50%; height: 100%; overflow: hidden; position: relative; padding: 10px; margin-right: 20px; }
.featured-container .featured_item > a.box_left img { min-width: 101%; min-height: 101%; position: absolute; top: 50%; left: 50%; width: auto; height: auto; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/* Carousel */
.main .featured_carousel .featured_item_wrapper .item img { margin: 0; }
@media screen and (max-width: 767px) { .main .featured_carousel .featured_item_wrapper .item > .box_left, .main .featured_carousel .featured_item_wrapper .item-freeform > .box_left { padding-right: 0; } }

img.img_medium { max-width: 80px; }

@media screen and (max-width: 600px) { .main .event-spotlight-component .spotlight-photo { height: 180px; } }
.container .wrapper { width: auto; max-width: 1140px; }

@media (min-width: 1500px) { .container { max-width: 1180px; } }
