.grid_container #menu { float: right; }
.grid_container #menu .profile_icon img { width: 50px; height: auto; }

/* Search */
.cu-localist-hero { display: flex; flex-direction: row; align-items: center; position: relative; }
.cu-localist-hero > .search_action { flex-grow: 1; margin-right: 40px; }

input#top-search { padding: 10px; color: #202020; width: 100%; background: #fff; }
.homepage input#top-search { padding: 20px; font-size: 150%; }

#top-submit { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
