a:hover { text-decoration: none; }

.logo img { max-width: 240px; width: 100%; height: auto; display: block; }
@media screen and (min-width: 768px) { .logo img { max-width: 315px; } }

.cu-localist-login #menu { float: right; }
.cu-localist-login #menu .profile_icon img { width: 50px; height: auto; }
.cu-localist-login #menu .nav-button .icon-bar { background-color: #858585; }
.cu-localist-login #menu .action_menu { position: relative; z-index: 5; padding: 0; }

#x-me-menu { display: flex; align-items: center; }

/* Search */
.cu-localist-hero { display: flex; flex-direction: row; align-items: center; position: relative; }
.cu-localist-hero > .search_action { flex-grow: 1; }
@media screen and (min-width: 960px) { .homepage .cu-localist-hero { padding: 60px 0; } }

input#top-search { padding: 10px; color: #202020; width: 100%; background: #fff; margin: 0; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
@media screen and (min-width: 768px) { input#top-search { padding: 15px; font-size: 125%; } }
.homepage input#top-search { padding: 20px; font-size: 150%; }

#top-submit { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.content-wrapper { margin: 0 -15px; padding-top: 0; }

.cu-below-content { display: none; }
