@mixin element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin rgbashadow($x, $y, $blur, $rgb, $transparency) {
  -webkit-box-shadow: $x $y $blur rgba($rgb, $transparency);
  -moz-box-shadow:    $x $y $blur rgba($rgb, $transparency);
  box-shadow:         $x $y $blur rgba($rgb, $transparency);
}

a:hover {
  text-decoration: none;
}
.logo img {
  max-width: 240px;
  width:100%;
  height: auto;
  display: block;
  @media screen and (min-width:768px) {
    & {
      max-width:315px;
    }
  }
}
.cu-localist-login #menu {
  float:right;
  .profile_icon img {
    width:50px;
    height: auto;
  }
  .nav-button .icon-bar {
    background-color: #858585;
  }
  .action_menu {
    position: relative;
    z-index: 5;
    padding: 0;
    background:#fff;
  }
}
#x-me-menu {
  display: flex !important;
  align-items: center;
}

/* Search */
.cu-localist-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  position:relative;
   & > .search_action {
     flex-grow: 1;
   }
   @media screen and (min-width:960px) {
     .homepage & {
       padding: 60px 0;
     }
   }
}

input#top-search {
  padding:10px;
  color:#202020;
  width:100%;
  background:#fff;
  margin:0;
  @include rgbashadow(0, 0, 10px, #000, .25);

  @media screen and (min-width:768px) {
    & {
      padding:15px;
      font-size:125%;
    }
  }
  .homepage & {
    padding:20px;
    font-size:150%;
  }
}
#top-submit {
  @include element-invisible;
}

.main .content-wrapper {
  margin:0 -15px;
  padding-top: 0;
}

.cu-below-content {
  display: none;
}

@media screen and (min-width:1200px) {
  .main .localist-content-wrapper > .grid_container {
    margin-left:-15px;
    margin-right:-15px;
  }
}

.featured-container {
  .featured_item {
    position: relative;
    height:100%;
    & > a.box_left {
      width:50%;
      height:100%;
      overflow: hidden;
      position: relative;
      padding:10px;
      margin-right:20px;
      img {
        min-width:101%;
        min-height: 101%;
        position: absolute;
        top:50%;
        left:50%;
        width:auto;
        height:auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

/* Carousel */
.featured_carousel .featured_item_wrapper .item > a {
  // padding-right: 0;
}

.main .featured_carousel .featured_item_wrapper {

  .item img {
    margin:0;
  }
  @media screen and (max-width:767px) {
    .item>.box_left, .item-freeform>.box_left {
      padding-right:0;
    }
  }
}

img.img_medium {
  max-width:80px;
}
@media screen and (max-width:600px) {
  .main .event-spotlight-component .spotlight-photo {
    height:180px;
  }
}
