@mixin element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin rgbashadow($x, $y, $blur, $rgb, $transparency) {
  -webkit-box-shadow: $x $y $blur rgba($rgb, $transparency);
  -moz-box-shadow:    $x $y $blur rgba($rgb, $transparency);
  box-shadow:         $x $y $blur rgba($rgb, $transparency);
}

a:hover {
  text-decoration: none;
}
.logo img {
  max-width: 240px;
  width:100%;
  height: auto;
  display: block;
  @media screen and (min-width:768px) {
    & {
      max-width:315px;
    }
  }
}
.cu-localist-login #menu {
  float:right;
  .profile_icon img {
    width:50px;
    height: auto;
  }
  .nav-button .icon-bar {
    background-color: #858585;
  }
  .action_menu {
    position: relative;
    z-index: 5;
    padding: 0;
  }
}
#x-me-menu {
  display: flex;
  align-items: center;
}

/* Search */
.cu-localist-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  position:relative;
   & > .search_action {
     flex-grow: 1;
   }
   @media screen and (min-width:960px) {
     .homepage & {
       padding: 60px 0;
     }
   }
}

input#top-search {
  padding:10px;
  color:#202020;
  width:100%;
  background:#fff;
  margin:0;
  @include rgbashadow(0, 0, 10px, #000, .25);
  .homepage & {
    padding:20px;
    font-size:150%;
  }
}
#top-submit {
  @include element-invisible;
}

.content-wrapper {
  margin:0 -15px;
}
